@import "tailwindcss";
@import "./shared/assets/fonts/fonts.css";

.range-slider-input {
	pointer-events: none;
	appearance: none;
	background: transparent;
}

.range-slider-input::-webkit-slider-thumb {
	pointer-events: auto;
	appearance: none;
	width: 24px;
	height: 24px;
	border: 2px solid #b2e746;
	border-radius: 9999px;
	background: #fdfbf7;
	cursor: pointer;
}

.range-slider-input::-moz-range-thumb {
	pointer-events: auto;
	width: 20px;
	height: 20px;
	border: 2px solid #b2e746;
	border-radius: 9999px;
	background: #fdfbf7;
	cursor: pointer;
}

@theme {
	/* Primary */
	--color-primary-50: #fafef2;
	--color-primary-100: #eaf9ce;
	--color-primary-200: #d7f3a1;
	--color-primary-300: #c5ed73;
	--color-primary-400: #b2e746;

	/* Secondary */
	--color-secondary-50: #fdfbf7;
	--color-secondary-100: #eee4d1;
	--color-secondary-200: #d3c19c;
	--color-secondary-300: #7f6b45;
	--color-secondary-400: #5c4d32;

	/* Gray */
	--color-gray-50: #f7f7f7;
	--color-gray-100: #e5e5e5;
	--color-gray-200: #d4d4d4;
	--color-gray-300: #c6c6c6;
	--color-gray-400: #b8b8b8;
	--color-gray-500: #ababab;
	--color-gray-600: #9b9b9b;
	--color-gray-700: #8a8a8a;
	--color-gray-800: #545454;
	--color-gray-900: #1a1a1a;

	/* Error */
	--color-error-bg: #fff1f2;
	--color-error-accent: #ff4b4b;
	--color-error-text: #d72c2c;

	/* Semantic */
	--color-screen: var(--color-primary-50);
	--color-screen-plain: var(--color-secondary-50);
	--color-surface: var(--color-secondary-50);
	--color-tile-lime: var(--color-primary-100);
	--color-tile-neutral: var(--color-gray-50);
	--color-disabled: var(--color-gray-100);

	--color-border: var(--color-gray-200);
	--color-divider: var(--color-gray-100);
	--color-focus: var(--color-primary-400);

	--color-title: var(--color-gray-900);
	--color-body: var(--color-gray-800);
	--color-caption: var(--color-gray-800);
	--color-placeholder: var(--color-gray-500);

	--color-action-primary: var(--color-primary-400);
	--color-action-secondary: var(--color-primary-100);

	/* Radius */
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;

	/* Font */
	--font-sans: "Pretendard Variable", system-ui, sans-serif;
	--font-jejudoldam: "EF_jejudoldam", var(--font-sans);
}
